*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-family: Glass Antiqua;
    color: rgb(172, 118, 36);
}
/* @media screen and (max-width: 1440px){
    
} */

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.099), rgba(0, 0, 0, 0.86)), url(images/background/paris.jpeg);
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#page
{
    margin-top: 1cm;
    display: flex;
    background-color: antiquewhite;
    background-image: linear-gradient(rgba(255, 239, 239, 0.099));
    width: fit-content;
    margin: 0 auto;
    margin-top: 1cm;
    padding: 1%;
}
#menu
{
    font-size: 200%;    
}
.Breakfast{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.b1{
    border-color: white;
    background-color: white;
    box-sizing: border-box;
}
.b1 p{
    width: 300px;
    padding: 50px;
    margin: 20px;
}
.b3 img{
    height: 100px;
    width: 100px;
}
.b2{
    box-sizing: border-box;
    display: flex;
    
}
